<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [class.orange-text]="highlight" href="index.html">conduit</a>
    <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="keyword">

    <button class="btn btn-sm btn-primary" (click)="search($event)">
      <i class="ion-search"></i>
    </button>

    <span *ngIf="keyword.length === 0; else searchHint" [style.color]="redColor">請輸入查詢條件～</span>
    <ng-template #searchHint>您輸入的關鍵字為：{{keyword}}</ng-template>
    <p [style.font-size.px]="fontSize">goooood</p>
  </div>
</nav>
